@import 'tailwindcss';
@import './reset.css';

html.mobile-menu-open,
body.mobile-menu-open {
  overflow: hidden;
  touch-action: none;
}

body.mobile-menu-open {
  position: fixed;
  width: 100%;
}

.submenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease-in-out;
}

@media (min-width: 1024px) {

  .menu-item:hover .submenu,
  .menu-item.is-open .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu-item .menu-chevron {
    display: inline-flex;
    transition: transform 0.25s ease-in-out;
  }
}

.mobile-submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.25s ease-in-out;
}

.mobile-menu-item.is-open .mobile-submenu {
  max-height: 20rem;
  opacity: 1;
}

.mobile-menu-chevron {
  display: inline-flex;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-item.is-open .mobile-menu-chevron {
  transform: rotate(180deg);
}

.mobile-submenu-link {
  display: block;
  padding: 0.5rem 0 0.5rem 0.75rem;
  font-size: 0.9rem;
  color: #4b5563;
}

.mobile-submenu-link:hover {
  color: #6b7280;
}

.desktop-header-nav {
  position: sticky;
  top: 0;
  z-index: 40;
  transition: transform 0.3s ease-in-out;
}

.desktop-header-nav.nav-hidden {
  transform: translateY(-100%);
}

.posts-section {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem 3rem;
}

@media (min-width: 1024px) {
  .posts-section {
    max-width: 72.5rem;
    padding: 0 0 3rem;
  }
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem
}

.post-card {
  cursor: pointer;
  width: 100%;
}

@media (min-width: 768px) {
  .post-card {
    width: calc((100% - 2rem) / 2);
  }
}

@media (min-width: 1024px) {
  .post-card {
    width: calc((100% - 4rem) / 3);
  }
}

.post-card-img {
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.post-card-category {
  font-size: 0.85rem;
  font-weight: 600;
  color: red;
}

.post-card-author {
  font-size: 0.85rem;
  color: #0a0a0b;
  font-weight: 500;
}

.post-card-statics {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  color: #4b5563;
}

.post-card-statics li::before {
  content: '•';
  color: #d7d7d7;
  margin-right: 0.35rem;
}

.post-card-title {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.post-card-text {
  font-size: 0.9rem;
  color: #4b5563;
}

/* Modal Open Page Scroll Lock */
html.modal-open,
body.modal-open {
  overflow: hidden;
  touch-action: none;
}

body.modal-open {
  position: fixed;
  width: 100%;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f5f9;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}